.ant-form {
    margin-top: 10px;
}

.form input, .form .tags-select, .form .ant-input-password, .form .ant-input-number{
    text-align: left;
    width: 250px;
}

.form .ant-form-item {
    margin-bottom: 10px;
}

.form .ant-form-item-label {
    text-align: left;
    height: fit-content;
    font-weight: bold;
}

/* Make the form items align to the right */
.form .ant-form-item-control {
    text-align: right;
}