@import url('https://fonts.googleapis.com/css?family=Roboto');

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkcyan;
    color: #fff;
    padding: 10px 20px;
}

.navbar a {
    font-family: 'Roboto-Regular', sans-serif;
    color: blueviolet;
    background-color: #4CAF50;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    font-size: 25px;
    border: 1 px solid #4CAF50;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    color: darkblue;
}