@import url('https://fonts.googleapis.com/css?family=Roboto');

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkcyan;
    color: #fff;
    padding: 10px 20px;
}

.navbar button {
    font-family: 'Roboto-Regular', sans-serif;
    width: 200px;
    border-radius: 20px;
}

.navbar a:hover {
    color: darkblue;
}