.seasonButton {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    cursor: pointer;
}

.seasonButton p {
    display: flex;
}

.seasonButton .number {
    justify-content: flex-start;
}

.seasonButton .line {
    justify-content: center;
}

.seasonButton .name {
    justify-content: flex-end;
}