.seasonButton {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid rgba(197, 189, 189, 0.699);
    font-size: 150%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: rgba(0, 0, 0, 0.801);
    -webkit-text-fill-color: azure;
    justify-content: space-between;
    cursor: pointer;
}

.seasonButton:hover {
    background-color: rgba(224, 214, 224, 0.836);
    -webkit-text-fill-color: black;

}

.seasonButton p {
    display: flex;
}

.seasonButton .number {
    justify-content: flex-start;
}

.seasonButton .line {
    justify-content: center;
}

.seasonButton .name {
    justify-content: flex-end;
}