body {
    background-color: rgb(195, 102, 214);
}

.seasonbuttonlist {
    margin-left: 10%;
    margin-right: 10%;
}

.seasonbuttonlist .title {
    justify-content: center;
    font-size: 500%;
    color: azure;
}

.seasonbuttonlist .plusbutton {
    margin-right: 100%;
    margin-bottom: 10px;
    cursor: pointer;
    size: 1px;
}