/* .params-table: */

.params-table {
    border-collapse: collapse;
    font-size: 28px;
}

.params-table th,
td {
    padding: 3px 10px;
}

.params-table th {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.params-table th:first-child,
.params-table th:last-child {
    border-left: none;
    border-right: none;
}

.params-table th button {
    width: 100%;
    height: 100%;
    display: block;
    background: rgb(127, 227, 227);
    border: 1px transparent;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Search bar: */

.search-bar input[type="text"] {
    margin-left: 10px;
    background: transparent;
    border: 1px solid black;
    border-radius: 5px;
    color: blue;
    font-size: 18px;
}

.search-bar input[type="text"]:focus {
    outline: none;
}

.search-bar input[type="text"]::placeholder {
    color: black;
}

.search-bar i {
    font-size: 18px;
}

.params-list {
    margin: 10px;
    font-size: 18px;
    text-align: left;
    padding: 10px;
}